[Unit]
Description=Jenkins Automation Server
After=network.target docker.service

[Service]
Type=notify
User=ec2-user
Group=ec2-user
Environment="JENKINS_PORT=8090"
Environment="JAVA_OPTS=-Djenkins.install.runSetupWizard=false -DhttpPort=8090"
Environment="DOCKER_HOST=unix:///var/run/docker.sock"
Environment="KUBECONFIG=/home/ec2-user/.kube/config"
EnvironmentFile=-/etc/sysconfig/jenkins
ExecStart=/usr/bin/java -Djava.awt.headless=true -Djenkins.install.runSetupWizard=false -DhttpPort=8090 -jar /usr/lib/jenkins/jenkins.war --webroot=/var/lib/jenkins/war --httpPort=8090 --httpListenAddress=0.0.0.0
ExecReload=/bin/kill -s HUP $MAINPID
Restart=on-failure
RestartSec=10
StandardOutput=journal
StandardError=journal
SyslogIdentifier=jenkins

[Install]
WantedBy=multi-user.target

